[package]
name = "install-action-internal-codegen"
edition = "2021"
version = "0.1.0"

[dependencies]
anyhow = "1"
flate2 = "1"
fs-err = "2"
minisign-verify = "0.2"
semver = { version = "1", features = ["serde"] }
serde = "1"
serde_derive = "1"
serde_json = "1"
sha2 = "0.10"
tar = "0.4"
toml_edit = { version = "0.21", default-features = false, features = ["parse", "serde"] }
ureq = { version = "2", features = ["json"] }

[lints]
workspace = true
